.login-container {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	font-family: Verdana, Geneva, Tahoma, sans-serif;

	height: 100%;

	.login-form {
		display: flex;
		flex-direction: column;

		row-gap: 24px;

		label {
			display: flex;
			flex-direction: column;
		}
	}
}
